body {
  background-color: gold;
}

form {
  text-align: center;
}
h1,
h2 {
  text-align: center;
  border-bottom: black 2px solid;
  margin-bottom: 5%;
  font-weight: bold;
}

h1 {
  margin-bottom: 1%;
}

img {
  display: block;
  margin: 5% auto;
}
label {
  font-weight: bold;
}
li {
  font-size: large;
  margin-bottom: 5px;
}

p {
  text-align: center;
  font-size: large;
}

.devoured-btn {
  padding: 2px;
}

#submitBtn {
  padding: 2px;
}

#addSection {
  margin-bottom: 1%;
}

#burgerPic {
  width: 30%;
  margin: 20px, 200px;
}
